@use "mixin"as m;
@use "variable"as v;

.problem {
    background-color: #fff;
    .problem_wrapper {
        padding: 8px;
        ul {
            li {
                padding: 8px;
                border-bottom: solid 1px v.$accent-color-grey;
                span {
                    padding-right: 8px;
                    color: v.$main-color;
                }
            }
            li:last-child {
                border-bottom: none;
            }
        }
        p {
            padding: 8px;
            background-color: v.$sub-color;
            text-align: center;
            font-size: 21px;
            color: #fff;
        }
    }
}

.example {
    padding-bottom: 16px;
    background-color: v.$accent-color-cream;
    .example_subtitle {
        padding: 16px 0;
        text-align: center;
        font-size: 21px;
        font-family: "Noto Serif JP", sans-serif;
        font-weight: 700;
    }
    .example_text {
        width: 100%;
        margin: 0 auto;
        padding: 8px;
        background-color: #fff;
        line-height: 1.6;
        p {
            padding-bottom: 8px;
        }
        .example_text_contents {
            li {
                font-size: 16px;
                font-weight: 700;
                color: v.$sub-color;
            }
        }
        .example_highlight {
            padding: 8px 0;
            background-color: v.$sub-color;
            text-align: center;
            font-family: "Noto Serif JP", sans-serif;
            font-weight: 700;
            color: #fff;
            span {
                font-size: 16px;
                color: #fff;
            }
        }
    }
}

.result {
    padding-bottom: 16px;
    background-color: v.$accent-color-cream;
    .result_wrapper {
        margin: 16px 8px;
        margin-bottom: 0;
        padding: 16px 0;
        background-color: v.$accent-color-grey;
        text-align: center;
        .result_subtitle {
            font-size: 16px;
            .before {
                font-size: 40px;
                color: v.$main-color;                
            }
            .arrow {
                margin: 0 8px;
                font-size: 48px;
                color: v.$accent-color-black;
            }
            .after {
                font-size: 80px;
            }
        }
        ul {
            width: 100%;
            max-width: 260px;
            margin: 8px auto;
            li {
                padding: 8px 0;
                text-align: left;
                border-bottom: solid 1px v.$font-color;
                font-size: 14px;
                font-weight: 700;
                span {
                    padding-right: 8px;
                    color: v.$main-color;
                }
            }
        }
    }
}

.change {
    background-color: v.$accent-color-cream;
    .change_text {
        padding: 16px;
        background-color: #fff;
        line-height: 2.0;
        p:first-of-type {
            font-size: 12px;
        }
    }
    .btn {
        position: relative;
        display: block;
        width: 100%;
        max-width: 340px;
        margin: 12px auto;
        padding: 10px 0;
        background: v.$sub-color;
        text-align: center;
        border-radius: 50px;
        border: solid 2px v.$sub-color;
        .CTA {
            padding-bottom: 4px;
            font-size: 16px;
        }
    }
    .btn:hover {
        background: #fff;
        color: v.$sub-color;
    }
    .btn::after {
        /* Border方式 */
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        right: 10%;
        border-style: solid;
        border-width: 12px 0px 12px 20px;
        border-color: transparent transparent transparent #FFF;
        transform: translateY(-50%);
        transition: all 0.6s ease;
    }
    .btn:hover::after {
        border-color: transparent transparent transparent v.$sub-color;
    }
}

.obtain {
    background-color: v.$accent-color-green;
    ol {
        padding: 8px;
        li {
            margin: 4px;
            padding: 8px;
            background-color: v.$accent-color-red;
            border-left: solid 3px v.$sub-color;
            font-weight: 700;
            span {
                padding-right: 8px;
                color: v.$main-color;
            }
        }
    }
}

.reason {
    background-color: #fff;
        .reason_wrapper {
        padding: 8px;
        ul {
            li {
                padding: 8px;
                border-bottom: solid 1px v.$accent-color-grey;
                font-size: 14px;
                font-weight: 700;
                span {
                    padding-right: 8px;
                    color: v.$main-color;
                }
            }
            li:last-child {
                border-bottom: none;
            }
        }
        p {
            padding: 8px;
            text-align: center;
        }
    }
}

.do {
    background-color: #FFF;
    h2 {
        color: v.$accent-color-yellow_2;
    }
    .do_items {
        padding: 16px;
        padding-top: 0;
        li {
            width: 100%;
            max-width: 450px;
            margin: 10px auto;
            border: 4px solid v.$sub-color;
            .item_title {
                display: flex;
                justify-content: space-between;
                padding: 12px 8px;
                background-color: v.$sub-color;
                .content1 {
                    width: 28%;
                    height: 10%;
                    margin-right: 20px;
                    padding:  12px 8px;
                    background-color: #FFF;
                    text-align: center;
                    overflow-wrap: break-word;
                    word-break: break-word;
                    font-size: 30px;
                    color: v.$sub-color;
                    @include m.sp {
                        font-size: 22px;
                    }
                }
                .content2 {
                    width: 72%;
                    font-size: 23px;
                    color: v.$accent-color-yellow_2;
                    @include m.sp {
                        font-size: 20px;
                    }
                    span {
                        display: block;
                        text-align: right;
                        font-size: 23px;
                        font-weight: bold;
                        color: v.$accent-color-yellow_2;
                        @include m.sp {
                            font-size: 20px;
                        }
                    }
                }
            }
            .item_inner {
                padding: 10px;
                img {
                    height: auto;
                }
                p {
                    font-size: 18px;
                    @include m.sp {
                        font-size: 14px;
                    }
                }
            }
        }
        .item1 {
            .item_inner {
                padding: 8px;
                &::after {
                    content: "";
                    display: block;
                    clear: both;
                }
                img {
                    float: right;
                    width: 100%;
                    max-width: 200px;
                    height: auto;
                    margin: 0 0 8px 8px;
                    object-fit: contain;
                }

            }
        }
    }
}

.content {
    background-color: v.$accent-color-red;
    ol {
        li {
            padding: 4px;
            padding-left: 0;
            border-bottom: solid 1px v.$accent-color-black;
            span {
                margin-right: 4px;
                padding: 4px;
                background-color: v.$sub-color;
                border-bottom: solid 1px v.$sub-color;
                color: #fff;
            }
        }
    }
}

.target {
    background-color: v.$accent-color-green;
    .items {
        display: flex;
        justify-content: space-between;
        .item1,.item2 {
            width: 50%;
            margin: 8px;
            .item_title {
                padding: 4px;
                text-align: center;
                color: #fff;
            }
            ul {
                padding: 8px 4px;
                line-height: 2.0;
                li {
                    span {
                        // margin-right: 8px;
                        padding: 4px;
                    }
                }
            }
        }
        .item1 {
            border: solid 1px v.$main-color;
            .item_title {
                background-color: v.$main-color;
            }
            ul {
                li {
                    span {
                        color: v.$main-color;
                    }

                }
            }
        }
        .item2 {
            background-color: #fff;
            border: solid 1px v.$accent-color-black;
            .item_title {
                background-color: v.$accent-color-black;
            }
            ul {
                li {
                    span {
                        // margin-right: 8px;
                        color: v.$accent-color-black;
                    }

                }
            }
        }
    }
}

.instructor {
    padding-bottom: 4px;
    background-color: v.$accent-color-green;
    .instructor_wrapper {
        padding: 16px;
        background-color: #fff;
        .profile {
            padding: 8px;

            &::after {
                content: "";
                display: block;
                clear: both;
            }

            img {
                float: right;
                width: 100%;
                max-width: 170px;
                height: 240px;
                margin: 0 0 16px 16px;
                border: solid 1px v.$font-color;
            }

            .profile_wrapper {
                margin: 8px;
            
        
        // .profile {
        //     display: flex;
        //     justify-content: space-between;
        //     .profile_wrapper {
        //         margin: 8px;
                .profile_text,.skill {
                    padding: 8px 0;
                }
                .name {
                    font-weight: 700;
                    color: v.$main-color;
                    p:first-child {
                        margin-bottom: 4px;
                    }
                    p:nth-of-type(2) {
                        font-size: 16px;
                    }
                    p:last-child {
                        color: v.$font-color;
                    }
                }
                .profile_text,.skill {
                    border-bottom: solid 1px v.$accent-color-black;
                }
                .profile_text {
                    p {
                        padding-bottom: 8px;
                        strong {
                            background-color: v.$accent-color-red;
                        }
                    }
                }
                .skill {
                    strong {
                        padding-bottom: 4px;
                        color: v.$main-color;
                    }
                    ul {
                        line-height: 2.0;
                        li {
                            span {
                                margin-right: 4px;
                                color: v.$main-color;
                            }
                        }
                    }
                }
            }
            // img {
            //     width: 40%;
            //     height: 20%;
            //     border: solid 1px v.$font-color;
            // }
        }
        .work {
            padding: 8px 0;
            strong {
                padding-bottom: 4px;
                text-align: center;
                color: v.$main-color;
            }
            dl {
                display: flex;
                flex-wrap: wrap;
                line-height: 2.0;
                dt {
                    width: 10%;
                }
                dd {
                    width: 90%;
                }
            }
        }
    }
}

.summary {
    dl {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        dt {
            width: 13%;
            padding: 4px;
            padding-left: 8px;
            background-color: v.$main-color;
            text-align: center;
            color: #fff;
        }
        dd {
            width: 87%;
            padding: 4px;
            strong {
                color: v.$sub-color;
            }
        }
        .border1 {
            background-color: v.$accent-color-grey;
        }
    }
}