@use "mixin"as m;
@use "variable"as v;

.form {
    padding-bottom: 16px;
    background-color: v.$main-color;
    h2 {
        span {
            color: v.$accent-color-yellow;
        }
    }
    .wpcf7,form {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        padding: 16px;
        background-color: #fff;
        .form_title {
            font-size: 9px;
            font-weight: 700;
        }
        dl {
            dt {
                margin-top: 10px;
                padding: 4px 0;
                font-weight: 700;
                p,label {
                    // margin-top: 10px;
                    margin-bottom: 0;
                    text-align: left;
                    font-size: 9px;
                }
            }
            dd {
                border: solid 1px v.$accent-color-black;
                line-height: 3;
                p {
                    margin: 0;
                    font-size: 12px;
                    // span {
                        
                    // }
                }
                input,select {
                    width: 100%;
                    padding: 0 4px;
                }
            }
        }
        .wpcf7-submit,.form-btn {
            position: relative;
            width: 100%;
            margin: 0 auto;
            margin-top: 16px;
            padding: 8px 0;
            background-color: v.$sub-color;
            border: solid 2px v.$sub-color;
            border-radius: 30px;
            font-size: 12px;
            color: #fff;
            transition: all 0.6s ease;
        }
        .wpcf7-submit:hover,.form-btn:hover {
            background-color: #fff;
            color: v.$sub-color;
        }
        .wpcf7-spinner {
            display: none;
        }
        p {
            // margin: 8px 0;
            text-align: center;
            font-size: 8px;
        }
    }
}